body{
    background-color: darkslategray;
    color: white;
}
.Parrafo1 {
    color: greenyellow;
    font-size: 18px;
}
.Parrafo2 {
    color: greenyellow;
    font-size: 18px;
}
.Parrafo3 {
    color: greenyellow;
    font-size: 18px;
}
.link1 {
    color: greenyellow;
    text-decoration: none;
}
.link2 {
    color: greenyellow;
    text-decoration: none;
}
a{
    display: flex;
    justify-content: center;
}
h1 {
    display: flex;
    justify-content: center;
    font-size: 35px;
}
